.nome{
    color: rgb(0, 0, 0);
    background-color: bisque;
}
.Hexadecimal{
    color: rgb(0, 0, 0);
    background-color: indigo;
}
.rgba{
    color: rgba(140, 3, 252, 1);
    background-color: rgba(7, 3, 252, 0.8);
}

titulo background {
    background-color: gray;
    color: aliceblue;
    text-align: end;
}

.div-background{
    background-image: url(images.jpg);QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ
    height: 500px;
    width: 800px;
}