/* Adcionando CSS */
/* com seletor 'tag' */
h1{
    color: coral;
    font-size: 15px;
}
p{
    font-weight: bold;
}

/*adcionando CSS*/
/* com seletor 'id'*/
/* ID NÂO´pode ser compartilhado */
#paragrafo2{
    color: blue;
    font-weight: normal;
}

/*adcionando CSS*/
/*com seletor 'class'*/
.p-texto{
    color: rgb(0, 255, 149);
    font-weight: normal;
}
